h1 {
    color: #000000;
    
}

h1,img {
    color: #000000;
    display: inline-block;
}

img {
   float: left;
   width: 80px; height: 80px;

}
nav ul {
    padding: 0;
}

nav ul li{
    display: inline;
}

nav ul li a {
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: none;
    padding: 10px;
    background-color:  red;
    color: #fff;
}
nav ul li a:hover{
    background-color:  red;
    margin-top: -2px;
    padding-bottom: 12px;
}
section {
    float: left;
    width: 70%;
    padding-block: 5px;
    text-align: justify;
    margin-right: auto;
}
aside {
    float: left;
    width: 30%;
    clear: both;
    padding-block: 5px;
    text-align: justify;
    margin-right: auto;
     
}
#imagen {
    float: none;
    width: 400px; height: 200px;
 
}

#texto {
    float: none;
    margin: auto;
    padding: 15px;

}

#Modelos{
    
    width: 50%;
    display: table-cell;
}

#arquitecturas-web {
    
    width: 50%;
    display: table-cell;
}

#Ajax{
    float: left;
    width: 50%;
}

#SPA {
    float: left;
    width: 50%;
}
