h1 {
    color: #000000;
    
}

h1,img {
    color: #000000;
    display: inline-block;
}

img {
   float: left;
   width: 80px; height: 80px;

}
nav p {
    font-family: Arial;
    font-size: 11px;
    padding: 10px;
    background-color: red;
    color: #fff;
}

section {
    float: left;
    width: 70%;
}
aside {
    float: left;
    width: 30%;
    clear: both;
}

#Modelo1{
    float: left;
    width: 50%;
}

#MVC {
    float: left;
    width: 50%;
}